<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <a class="navbar-brand" href="/">
    <img src="img/poke-logo.png" />
  </a>

  <!-- mini Navbar -->
  <div class="mininav">
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/page" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="img/poke-circle2.png" style="width: 50px" />
          <span th:if="${session.nickname1 != null}" th:text="${session.nickname1}"></span>
        </a>
        <div class="dropdown-menu">
          <a th:if="${session.userId != null}" class="dropdown-item" href="/post">My post</a>
          <div th:if="${session.userId != null}" class="dropdown-divider"></div>
          <a th:if="${session.userId != null}" class="dropdown-item" href="/page">My page</a>
          <div th:if="${session.userId != null}" class="dropdown-divider"></div>
          <a th:if="${session.userId != null}" class="dropdown-item" href="/logout">Logout</a>
          <a th:if="${session.userId == null}" class="dropdown-item" href="/login">Start with Facebook</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- mini Navbar end -->

  <!-- long Navbar -->
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <img src="img/poke-circle2.png" style="width: 50px" />
          <span th:if="${session.nickname1 != null}" th:text="${session.nickname1}"></span>
        </a>
      </li>
      <li class="nav-item">
        <a th:if="${session.userId != null}" class="nav-link" href="/post">My post</a>
      </li>
      <li class="nav-item">
        <a th:if="${session.userId != null}" class="nav-link" href="/page">My page</a>
      </li>
      <li class="nav-item">
        <a th:if="${session.userId != null}" class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a th:if="${session.userId == null}" class="nav-link" href="/login">Start with Facebook</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End of longnav -->
<!-- End of Topbar -->
