<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-info sidebar-dark sidebar accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <div class="mt-5 mb-5">
    <a class="sidebar-brand d-flex mt-5 align-items-center justify-content-center" href="/">
      <img src="/img/poke-logo2.png" />
    </a>
  </div>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Poke With</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">My Info</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-wrench"></i>
      <span>My Account</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Nickname1</a>
        <a class="collapse-item" href="#">Nickname2</a>
        <a class="collapse-item" href="#">Nickname3</a>
        <a class="collapse-item" href="#">Nickname4</a>
        <a class="collapse-item" href="#">Nickname5</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
</ul>
<!-- End of Sidebar -->
